#piet section {
	background-color: rgb(199, 57, 51);
	height: 400px;
	width: 400px;
}

.container1 {
width: 25%;
height: 37%;
background-color: white;
border-style: solid;
border-right-width: 10px;
border-bottom-width: 20px;
border-top: 0;
border-left: 0;
}

.container2 {
	width: 25%;
	height: 37%;
	background-color: white;
	border-style: solid;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-top: 20px;
	border-left: 0;
}

.container3 {
	width: 25%;
	height: 26%;
	background-color: rgb(54, 96, 156);
	border-style: solid;
	border-right-width: 10px;
	border-bottom: 0;
	border-top: 20px;
	border-left: 0;
}
